USE [CMS]
GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 2021-03-22 오후 6:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[VIDEO_ID] [varchar](11) NOT NULL,
	[TITLE] [varchar](200) NOT NULL,
	[VIDEO_TYPE] [char](2) NOT NULL,
	[YOUTUBER_ID] [varchar](24) NOT NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[VIDEO_URL] [varchar](41) NOT NULL,
	[PUBLISHED_AT] [datetime] NOT NULL,
	[PICTURE_URL] [varchar](48) NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[TAGS] [varchar](1000) NULL,
	[KIDS_YN] [char](1) NOT NULL,
	[PLAY_YN] [char](1) NOT NULL,
	[MAIN_PLAY_LIST] [varchar](34) NOT NULL,
	[SUB_PLAY_LIST] [varchar](34) NULL,
	[VIDEO_LENGTH] [int] NULL,
 CONSTRAINT [PK_VIDEO] PRIMARY KEY NONCLUSTERED 
(
	[VIDEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
