USE [CMS]
GO
/****** Object:  Table [dbo].[COMMON_CODE]    Script Date: 2021-03-22 오후 6:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_CODE](
	[CODE_ID] [int] NOT NULL,
	[CODE_VALUE] [varchar](10) NOT NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[USE_YN] [char](1) NOT NULL,
	[UPDATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_ID] ASC,
	[CODE_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMON_CODE]  WITH CHECK ADD FOREIGN KEY([CODE_ID])
REFERENCES [dbo].[COMMON_CODE_TYPE] ([CODE_ID])
GO
