USE [CMS]
GO
/****** Object:  Table [dbo].[SUB_PLAY_LIST]    Script Date: 2021-03-22 오후 6:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PLAY_LIST](
	[SUB_PLAY_LIST] [varchar](34) NOT NULL,
	[VIDEO_ID] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [VIDEOIDSUBPLAYLIST]    Script Date: 2021-03-22 오후 6:16:44 ******/
CREATE NONCLUSTERED INDEX [VIDEOIDSUBPLAYLIST] ON [dbo].[SUB_PLAY_LIST]
(
	[VIDEO_ID] ASC,
	[SUB_PLAY_LIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
