USE [CMS]
GO
/****** Object:  Table [dbo].[YOUTUBER]    Script Date: 2021-03-22 오후 6:16:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YOUTUBER](
	[YOUTUBER_ID] [char](24) NOT NULL,
	[YOUTUBER_NAME] [varchar](50) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[SUBSCRIBER_NUM] [int] NOT NULL,
	[PICTURE_URL] [varchar](150) NOT NULL,
	[UPLOAD_ID] [char](24) NOT NULL,
	[VIDEO_UPDATED_AT] [datetime] NOT NULL,
	[PLAY_LIST_UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__YOUTUBER__2D70B62F450890AD] PRIMARY KEY CLUSTERED 
(
	[YOUTUBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[YOUTUBER] ADD  CONSTRAINT [DF__YOUTUBER__VIDEO___5BE2A6F2]  DEFAULT ('1999-12-12 00:00:00') FOR [VIDEO_UPDATED_AT]
GO
ALTER TABLE [dbo].[YOUTUBER] ADD  DEFAULT ('1999-12-12 00:00:00') FOR [PLAY_LIST_UPDATED_AT]
GO
