USE [CUST]
GO
/****** Object:  Table [dbo].[SESSION_LOG]    Script Date: 2021-03-23 오전 11:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUST_EMAIL] [varchar](50) NOT NULL,
	[SESSION_ID] [varchar](64) NOT NULL,
	[SESSION_STATE] [char](1) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK__SESSION___3214EC27523F10ED] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
