USE [CUST]
GO
/****** Object:  Table [dbo].[CUST_WATCHING]    Script Date: 2021-03-23 오전 11:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_WATCHING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUST_EMAIL] [varchar](50) NOT NULL,
	[SESSION_ID] [varchar](64) NOT NULL,
	[VIDEO_ID] [varchar](11) NOT NULL,
	[JUMP_POINT] [int] NULL,
	[CREATED_AT] [datetime] NOT NULL,
 CONSTRAINT [PK__CUST_WAT__3214EC273FB38386] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUST_WATCHING] ADD  CONSTRAINT [JUMP_POINT]  DEFAULT ((0)) FOR [JUMP_POINT]
GO
