USE [CUST]
GO
/****** Object:  Table [dbo].[CUST]    Script Date: 2021-03-23 오전 11:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST](
	[CUST_EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [char](64) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
	[UPDATED_AT] [datetime] NULL,
 CONSTRAINT [PK__CUST__A2E06F4B04661F58] PRIMARY KEY CLUSTERED 
(
	[CUST_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
