USE [CMS]
GO
/****** Object:  Table [dbo].[SUB_PLAY_LIST]    Script Date: 2021-03-23 오전 11:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_PLAY_LIST](
	[SUB_PLAY_LIST] [varchar](34) NOT NULL,
	[VIDEO_ID] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
