USE [CMS]
GO
/****** Object:  Table [dbo].[COMMON_CODE_TYPE]    Script Date: 2021-03-23 오전 11:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_CODE_TYPE](
	[CODE_ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[UPDATED_AT] [datetime] NOT NULL,
 CONSTRAINT [CODE_ID] PRIMARY KEY CLUSTERED 
(
	[CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
