USE [CMS]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_VIDEO_TYPE_NAME]    Script Date: 2021-03-23 오전 11:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GET_VIDEO_TYPE_NAME] ( 
	  @CODE_ID INT
	, @CODE_VALUE VARCHAR(10)
	) 
RETURNS VARCHAR(50)
AS
BEGIN
	RETURN( SELECT [DESCRIPTION] FROM COMMON_CODE WHERE CODE_ID = @CODE_ID AND CODE_VALUE = @CODE_VALUE)
END
GO
